body {
  margin: 0px;
  scroll-behavior: smooth;
  font-family: "Poppins", Arial, sans-serif;
}
:root {
  --color-button: #bf925b;
  --color-text: #bababa;
  --color-header: #343434;
  --background: #ffffff;
  --background-dark: #090601;
  --border: 1px solid rgba(255, 255, 255, 0.3) !important ;
  --radius: 4px;
  --size-text: 13px;
  --size-logo: 30px;
  --size-heading: 50px;
  --family-header: "Barlow Condensed", Arial, sans-serif;
  --box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  --webkit: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
}
