.booking-container,
.chart-booking-right {
  border-radius: 10px;
  background-color: var(--background);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: var(--box-shadow);
  padding-top: 20px;
}
.chart-booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-booking-right {
  margin-top: 50px;
  width: 100%;
  height: 300px;
}

.booking-service.text-break {
	word-break: break-word !important ;
	overflow: visible !important;
	white-space: normal !important;
}
