.customer-table {
  width: 100%;
  padding-bottom: 50px;
}
.customer-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.left-value {
  font-weight: 600;
  padding: 0px 20px;
  font-size: 24px;
}

/* delete */
.delete .button-delete,
.save .button-save,
.view .button-view {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.delete .button-delete:hover {
  background-color: rgb(255, 64, 64, 0.2);
  border-radius: 20px;
}

.delete .button-delete .icon-delete {
  width: 100%;
  height: 100%;
  color: red;
}
.icon-create {
	width: 100%;
	height: 100%;
	color: rgb(8, 30, 231);;
}
.save .button-save:hover {
  background-color: rgb(0, 128, 0, 0.2);
  border-radius: 20px;
}
.save .button-save .icon-save {
  width: 100%;
  height: 100%;
  color: green;
}

.view .button-view .icon-view {
  width: 100%;
  height: 100%;
  color: var(--color-header);
}

.view .button-view:hover {
  background-color: rgb(191, 146, 91, 0.2);
  border-radius: 20px;
}
.button-delete:focus,
.button-save:focus,
.button-view:focus {
  outline: none;
}

/* modal */
.salary-modal {
  background-color: transparent;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 40px 0px;
}
.modal-container {
  width: 40%;
  height: auto;
}
.overlay {
  background-color: rgb(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.modalContainer {
  background-color: var(--background);
  width: 500px;
  height: auto;
  position: relative;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}
.modalContainer .closeBtn {
  position: absolute;
  right: 10px;
  top: 2px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
}

.modalContainer .modalInformation {
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
}
.modalInformation .items-value {
  border: 1px solid var(--color-header);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-family: var(--family-header);
}
.title-value {
  color: var(--color-header);
  padding: 10px;
  text-transform: uppercase;
  font-family: var(--family-header);
  letter-spacing: 2px;
  font-size: 20px;
}
.icon-value {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: var(--color-header);
}
.text-value {
  width: 90%;
  border: none;
  font-size: 14px;
  color: var(--background-dark);
}
.text-value:focus {
  outline: none;
}

/* modal for service */
.modal-service {
  display: flex;
  width: 100%;
  height: 100%;
}
.left-modal,
.right-modal {
  width: 50%;
  height: 100%;
}
.left-modal {
  display: flex;
  justify-content: center;
}

.service-image {
  height: 304px;
  width: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  object-fit: cover;
  opacity: 0.9;
}

.item-right-modal {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
