.receipt-container {
  display: flex;
  width: auto;
  height: auto;
  justify-content: space-between;
}
.left-receipt,
.right-receipt,
.bottom-receipt {
  background-color: var(--background);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding-bottom: 40px;
  margin-top: 20px;
}
.left-receipt {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-receipt {
  height: auto;
  width: 38%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header-receipt {
  width: 200px;
  margin: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  border-bottom: 4px solid var(--color-header);
}
.item-receipt {
  margin: 5px 20px;
  display: flex;
  width: auto;
  align-items: center;
  font-family: var(--family-header);
  border: 1px solid var(--color-header);
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 20px;
}

.item-receipt .input-receipt {
  display: flex;
  font-size: 16px;
  width: 100%;
  border: none;

  font-family: var(--family-header);
}
.item-receipt .input-receipt:focus {
  outline: none;
}
.input-receipt::placeholder {
  color: rgb(25, 25, 25);
}
.show-service-booking {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 10px;
}
.show-service-booking .grid-service {
  width: 94%;
  height: 90%;
  display: grid;
  margin: 20px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
}
.items-service-booking {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  font-family: var(--family-header);
  align-items: center;
  border: 1px solid var(--color-header);
  cursor: pointer;
  padding: 10px;
}
.items-service-booking span {
  text-transform: uppercase;
}
.img-booking {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.items-service-booking span {
  font-size: 18px;
  font-weight: 600;
}

.padding {
  padding: 10px 20px;
}

.button-receipt {
  padding: 10px 20px;
}

/* list-service */
.list-service {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item-service-receipt {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container-bill {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.show-bill {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-color: rgb(25, 25, 25, 0.1);
}
.header-bill {
  padding-top: 40px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}
.items-bill {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
}
.item-bill {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 10px 40px;
}
.thank-bill {
  padding-top: 10px;
  text-align: center;
  font-weight: 500;
}
.exit {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
