.create-service-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-service,
.right-service {
  height: auto;
  background-color: var(--background);
  -webkit-box-shadow: var(--webkit);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}
.left-service {
  width: 25%;
}
.right-service {
  width: 72%;
  display: flex;
}
.right-service form {
  width: 100%;
  display: flex;
}

.left-create {
  width: 50%;
  align-items: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right-create {
  width: 50%;
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.padding-none {
  margin: 0px 0px 10px 0px !important;
}

.header-image {
  color: var(--color-header);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--family-header);
}
.service-new-image {
  height: 100%;
  width: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  object-fit: cover;
  opacity: 0.9;
}

.input-service {
  color: black;
  background-color: transparent;
  border: 1px solid var(--color-header);
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  font-family: var(--family-header);
}
.btn-service {
  padding: 10px 0px;
}

.textarea-service {
  font-family: var(--family-header);
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  height: 80px;
  width: 100%;
}

.input-service:focus,
.textarea-service:focus,
.select-service:focus {
  outline: none;
}

.select-service {
  padding: 10px;
  border: 1px solid var(--color-header);
  border-radius: 4px;
}
.btn-create {
  padding: 10px;
  width: fit-content;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--color-header);
}
.no-image-service {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  margin: 5px;
  border: 1px solid var(--color-header);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.padding-service {
  padding: 8px !important;
  margin: 0px !important;
}
