.staff {
  width: 100%;
  display: flex;
  padding-bottom: 75px;
  padding-left: 0px;
}
.bottom-staff {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.left-staff,
.right-staff {
  height: auto;
  background-color: var(--background);
  -webkit-box-shadow: var(--webkit);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}
.left-staff {
  width: 44%;
}
.right-staff {
  width: 54%;
  display: flex;
}
.right-staff form {
  width: 100%;
  display: flex;
}
.salary-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.no-padding {
  padding: 0px !important;
  margin: 0px !important;
}
.padding-salary {
  margin: 5px 20px !important;
  padding: 0px !important;
}
