.ChangePassword {
  width: 100%;
  height: auto;
}
.header-change {
  font-weight: 700;
  font-family: var(--family-header);
  font-size: 24px;
  text-transform: uppercase;
  margin: 20px;
  width: 240px;
  border-bottom: 4px solid var(--color-header);
}
.items-change form {
  width: auto;
  height: auto;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item-change {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-change span {
  width: 30%;
  font-weight: 500;
  font-family: var(--family-header);
  font-size: 20px;
}

.item-change .item-box {
  width: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid var(--color-header);
  border-radius: 4px;
}
.item-change .item-box input {
  width: 80%;
  font-family: var(--family-header);
  padding: 8px;
  background-color: transparent;
  border: none;
  font-size: 14px;
}

.item-change .item-box input:focus {
  outline: none;
}

.item-change .item-box .eye {
  border: none;
  background-color: transparent;
  font-size: 24px;
}
.item-change .item-box .eye:focus {
  outline: none;
}

.item-change .save-change {
  background-color: transparent;
  border: 1px solid var(--color-header);
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  font-family: var(--family-header);
  margin-right: 20px;
  cursor: pointer;
}
.item-change .link {
  font-size: 12px;
  text-decoration: underline;
}
.item-change .link:hover {
  color: var(--color-header);
}
.error-change {
  width: fit-content;
  color: red;
  font-family: var(--family-header);
  background-color: transparent;
  border: none;
  font-size: 14px;
  margin-left: 250px;
}
.error-password {
  height: auto;
  width: 100%;
  display: flex;
  color: red;
  margin-left: 350px;
}
