.find-customer {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.find-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.header-find {
  display: flex;
  padding: 10px;
  font-size: 24px;
  font-family: var(--family-header);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
}
.item-find {
  border: 1px solid var(--color-header);
  width: 400px;
  height: auto;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.find-receipt {
  display: flex;
  position: relative;
  margin: 20px;
  width: 320px !important;
}
.item-find span {
  font-size: 20px;
  transition: all 0.3s ease;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-find span:hover {
  color: var(--color-header);
}
.item-find .input-find {
  width: 90%;
  padding: 5px 0px;
  border: none;
  display: block;
  background-color: transparent;
  color: rgb(25, 25, 25);
  font-family: var(--family-header);
  font-size: 18px;
}
.item-find .input-find:focus {
  outline: none;
}
.dataResult {
  padding: 10px;
  width: 400px;
  height: 300px;
  position: absolute;
  background-color: var(--background);
  top: 123px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 99;
}
.result-receipt {
  top: 80px !important;
  width: 300px;
}

.dataResult:active {
  display: block;
}

.info-customer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  border-radius: 5px;
  background-color: var(--background);
  text-decoration: none;
  font-family: var(--family-header);
  cursor: pointer;
}
.info-customer:hover {
  background-color: rgb(239, 239, 239);
}
.img-search {
  margin-left: 10px;
  object-fit: cover;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.data {
  margin-left: 20px;
  text-decoration: none;
}
