.salary {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.header-salary {
  width: 200px;
  color: var(--color-header);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 20px;
  font-family: var(--family-header);
  border-bottom: 4px solid var(--color-header);
}
.form-salary {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: left;
  margin-top: 20px;
}
.input-salary {
  border: 1px solid var(--color-header);
  padding: 10px;
  width: 95%;
  height: auto;
  font-size: 14px;
  border-radius: 4px;
}
.input-salary:focus {
  outline: none;
}
.title-salary {
  width: 30%;
  font-weight: 500;
}
