.Sidebar {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--background);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
}
.top-sidebar {
  height: 40px;
  font-size: 20px;
  border-bottom: 0.1px solid silver;
}
.div-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  text-align: center;
  justify-content: center;
  height: fit-content;
  padding: 10px;
  color: var(--background-dark);
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--font-header);
  font-size: 24px;
  letter-spacing: 2px;
}
.logo:hover {
  color: var(--color-header);
}
.burger {
  display: none;
}
.bottom-sidebar {
  transition: all 0.2s;
}

.items-sidebar {
  display: flex;
  height: 30px;
  padding: 10px;
  text-align: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.items-sidebar:hover {
  color: var(--background);
  background: linear-gradient(145deg, var(--color-header), var(--color-header));
  box-shadow: 4px 4px 7px #b8b8b8, -4px -4px 7px #ffffff;
}

.item-icon {
  padding-left: 5px;
}
.item-sidebar {
  font-weight: 500;
  margin-left: 10px;
  font-size: 16px;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.Link {
  text-decoration: none;
  color: black;
}

.active .items-sidebar {
  color: var(--background);
  background: linear-gradient(145deg, var(--color-header), var(--color-header));
  box-shadow: 4px 4px 7px #b8b8b8, -4px -4px 7px #ffffff;
}

@media screen and (max-width: 768px) {
  .bottom-sidebar {
    align-items: center;
  }
  .items-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-sidebar {
    display: none !important;
  }
  .logo {
    display: none;
  }
  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}
