.topBar {
  display: flex;
  margin: 0px 0px 20px 0px;
  height: 40px;
  padding: var(--padding--item);
  justify-content: space-between;
  background-color: var(--background);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: var(--box-shadow);
}
.search {
  display: flex;
  background-color: transparent;
  padding: 8px;
  width: 30%;
  border-radius: 10px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}
.input-search {
  background-color: transparent;
  height: 14px;
  font-weight: normal;
  font-size: 13px;
  border: none;
  width: 100%;
  padding: 5px;
}
.input-search:focus {
  outline: none;
}
.items-topBar {
  display: flex;
}
.Item {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px 20px 10px 20px;
  border-left: 0.2px solid #dddddd;
  cursor: pointer;
}
.top-dropdown-select {
  display: flex;
  border-left: 0.2px solid #dddddd;
  justify-content: space-between;
  cursor: pointer;
  z-index: 100;
}
.item-name {
  padding: 8px 20px;
}
.image-item {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  object-fit: cover;
}
.top-dropdown {
  position: relative;
}
.top-dropdown:hover .top-dropdown-list {
  display: block;
}

.top-dropdown-list {
  margin-top: 30px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 20px;
  display: none;
  background-color: var(--background-dropdown);
  padding-inline-start: 0;
  z-index: 99;
}
.top-dropdown-list:before {
  content: "";
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  transform: translateY(-100%);
}
.top-dropdown-item {
  width: 200px;
  height: auto;
  padding: 10px;
  color: black;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.top-dropdown-item:hover {
  color: var(--color-text-dropdown);
  background-color: var(--background-hover);
}

.top-dropdown-item:first-child {
  border-radius: 5px 5px 0px 0px;
  position: relative;
}
.top-dropdown-item:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  right: 12px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--background-dropdown);
  transform: translateY(-100%);
  transition: border-bottom-color 0.2s linear;
}
.top-dropdown-item:first-child:hover:before {
  border-bottom-color: var(--background-hover);
}
.top-dropdown-item:last-child {
  border-radius: 0px 0px 5px 5px;
}
.dropdown-link {
  text-decoration: none;
  color: black;
}
.dropdown-link:hover {
  color: var(--color-text-dropdown);
}
.dropdown-text {
  margin-left: 10px;
}
.dropdown-text:hover {
  color: var(--color-text-dropdown);
}
