.services-container {
  width: 100%;
  height: auto;
  background-color: rgb(25, 25, 25, 0.2);
}
.category {
  height: 100%;
  height: auto;
  margin: 0px 30px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}
.title-category {
  width: auto;
  height: 40px;
  display: flex;
  justify-content: left;
  padding-left: 40px;
  border-left: 4px solid var(--color-button);
}
.div-service {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
